<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <h1>WORKS PAGE</h1>
    <!-- <a href="/about">Visit W3Schools.com!</a> -->
    <p>I've created a game based on Pokemon, check it out</p>
    <a href ="https://zubairmalek.github.io/pokemon-game-project/">Pokemon Project</a>
    <br>
    <a href="/">Go to home page</a>
    <br>
    <a href="/about">Find out About us</a>
</body>
</html>